<div class="wrapper">
    <div class="main">

        <div>

            <div>
                <img src="{{killer.image}}" alt="">
                {{#if killer.numberOfVictimsConfirmed}}
                <p><b>Number of victims confirmed:</b> {{killer.numberOfVictimsConfirmed}}</p>
                {{/if}}
                {{#if killer.numberOfVictimsPossible}}
                <p><b>Number of victims possible:</b> {{killer.numberOfVictimsPossible}}</p>
                {{/if}}
            </div>
            <div>
                <h1>{{killer.name}} {{killer.lastName}}</h1>
                {{#if killer.aka}}
                <p><b>A.K.A.:</b> {{killer.aka}}</p>
                {{/if}}
                {{#if killer.birthDate}}
                <p><b>Date of Birth:</b> {{killer.birthDate}}</p>
                {{/if}}
                {{#if killer.zodiacSign}}
                <p><b>Zodiac Sign:</b> {{killer.zodiacSign}}</p>
                {{/if}}
                {{#if killer.yearsActive}}
                <p><b>Years Active:</b>
                    {{#if killer.yearsActive.[1]}}
                    {{#each killer.yearsActive}}
                    {{#if @first}}{{this}}{{/if}} {{#if @last}}- {{this}}{{/if}}
                    {{/each}}
                    {{else}}
                    {{killer.yearsActive}}
                    {{/if}}
                    {{/if}}
                </p>
                {{#if killer.country}}
                <p><b>Country:</b> {{killer.country}}</p>
                {{/if}}
                {{#if killer.arrested}}
                <p><b>Date of arrest:</b> {{killer.arrested}}</p>
                {{/if}}
            </div>
        </div>
        <div>
            <article>
                {{#if killer.description}}
                <h3>Description:</h3>
                <p>{{killer.description}}</p>
                {{/if}}
            </article>
            <article>
                {{#if killer.victimProfile}}
                <h3>Victim Profile:</h3>
                <p>{{killer.victimProfile}}</p>
                {{/if}}
            </article>
            <article>
                <h3>Murder Type:</h3>
                {{#if killer.murderType.[1]}}
                {{#each killer.murderType}}
                <p>{{#unless @last}}{{this}} |&nbsp;{{/unless}}{{#if @last}}{{this}}{{/if}}</p>
                {{/each}}
                {{else}}
                <p>{{killer.murderType}}</p>
                {{/if}}
            </article>
            <article>
                {{#if killer.weapons.[0]}}
                <h3>Weapons Used:</h3>
                {{#if killer.weapons.[1]}}
                {{#each killer.weapons}}
                <p>{{#unless @last}}{{this}} |&nbsp;{{/unless}}{{#if @last}}{{this}}{{/if}}</p>
                {{/each}}
                {{else}}
                <p>{{killer.weapons}}</p>
                {{/if}}
                {{/if}}
            </article>
            <article>
                {{#if killer.books.[0]}}
                <h3>Books:</h3>
                {{#each killer.books}}
                <p>- {{this}}</p>
                {{/each}}
                {{/if}}
            </article>
        </div>
        <h2>Reviews</h2>
        {{#each killer.reviews}}
        <div class="review-item">
            <p>{{this.comments}}</p>
            <span>{{this.user}}</span>
        </div>
        {{/each}}
        <p>Add A Comment</p>
        <form class="form" action="/reviews/add?killer_id={{killer._id}}" method="post">

            <div class="form-group">
                <input class="form-input" type="text" name="user" id="user-input" placeholder="User">
                <label class="form-label" for="name-input">User Name</label>
            </div>
            <div class="form-group">
                <textarea class="form-input" name="comments" id="comments-input" placeholder="Comments"></textarea>
                <label class="form-label" for="comments-input">Comments</label>
            </div>
            <div class="form-group">
                <button type="submit" class="btn">Add</button>
            </div>
        </form>
        <form action="/private/fave-killer?killer_id={{killer._id}}" method="post">
            <button type="submit">Fave</button>
        </form>
        {{#if killer.author}}
        {{#ifeqId killer.author currentUserInfo._id}}
        <a class="edit-btn" href="/private/edit-killer?killer_id={{killer._id}}">Edit</a>
        <form action="/private/delete-killer?killer_id={{killer._id}}" method="post">
            <button type="submit">Delete</button>
        </form>

        {{/ifeqId}}
        {{#ifneqId killer.author currentUserInfo._id}}
        <p>you cannot Delete or Edit a Killer that you have not created.</p>
        {{/ifneqId}}
        {{/if}}
        <a href="/">Back</a>
    </div>
</div>
<footer class="footer">
    <ul class="footer-links">
        <a href="">
            <li>Items</li>
        </a>
        <a href="">
            <li>Items</li>
        </a>
        <a href="">
            <li>Items</li>
        </a>
    </ul>
</footer>
