<div class="wrapper">
    <div class="main">
        <article class="profile-main">
            <div class="user-pic-div">
                <img src="{{user.image}}" alt="user image" class="user-picture">
            </div>
            <div class="profile-main-text">
                <h1 class="user-name">{{user.name}}</h1>
                <a href="/private/profile/{{user._id}}/edit"><button class="btn btn-after">Edit</button></a>
                {{#if user.faveKillers}}
                    <a href="/private/fav-killers/{{user._id}}"><button class="btn btn-after">Favorite Killers</button></a>
                {{/if}}
            </div>
            
        </article>
        <article class="profile-main-ifs">
        
        {{#if user.killersCreated}}
            <h2>My Killers:</h2>
            {{#each user.killersCreated}}
                <a href="/killers/{{this._id}}">
                    <img src="{{this.image}}" alt="">
                    <p>{{this.name}} {{this.lastName}}</p>
                </a>
            {{/each}}
        {{/if}}
        </article>
    </div>
</div>

<footer class="footer">
    <ul class="footer-links">
        <a href="">
            <li>Items</li>
        </a>
        <a href="">
            <li>Items</li>
        </a>
        <a href="">
            <li>Items</li>
        </a>
    </ul>
</footer>